<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670467594377-c1q40i09ub91lr4vo8ii6ol432hlmg8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670467594377-c1q40i09ub91lr4vo8ii6ol432hlmg8v</string>
	<key>API_KEY</key>
	<string>AIzaSyDYM4JPfGVn5O-bgxUlNPVDpB_26slUQ0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>670467594377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AthleanXPurchase</string>
	<key>PROJECT_ID</key>
	<string>pack-promise</string>
	<key>STORAGE_BUCKET</key>
	<string>pack-promise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670467594377:ios:1cde65abc216838b69ce58</string>
	<key>DATABASE_URL</key>
	<string>https://pack-promise.firebaseio.com</string>
</dict>
</plist>